@using System.Data
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="btn btn-primary" asp-area="" asp-controller="Inventarios" asp-action="CrearInventario">Crear nuevo inventario</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
@{
    ViewData["Title"] = "Inventarios";
}

<h2>@ViewData["Title"]</h2>

<p>@ViewBag.Mensaje</p>

@if (ViewBag.DataTable != null)
{
    <table class="styled-table">
        <thead>
            <tr>
                @foreach (DataColumn column in ViewBag.DataTable.Columns)
                {
                    <th>@column.ColumnName</th>
                }
                <th>Acciones</th>
            </tr>            
        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.DataTable.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@item</td>
                    }
                    <td>
                        <a href="" class="btn btn-success"><i class="fa-solid fa-eye"></i></a>
                        <a href="@Url.Action("CrearInventario", "Inventarios", new { id_inventario = row["id_inventario"] })"
                           class="btn btn-primary"><i class="fa-solid fa-user-pen"></i></a>

                        <a href="@Url.Action("EliminarInventario", new { id_inventario = row["id_inventario"] })" class="btn btn-danger"
                           onclick="return confirm('¿Está seguro de que desea eliminar este inventario?');"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron datos.</p>
}