@using System.Data

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="@Url.Action("FormularioOrdenes", new { accion = "Crear" })" class="btn btn-primary">Crear nueva orden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
@{
    ViewData["Title"] = "Ordenes";
}
<h2>@ViewData["Title"]</h2>
<p>@ViewBag.Mensaje</p>
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-info">
        @TempData["MensajeOrdenes"]
    </div>
}

@if (ViewBag.DataTable != null)
{   
    <table class="styled-table">
        <thead>
            <tr>
                @foreach (DataColumn column in ViewBag.DataTable.Columns)
                {
                    <th>@column.ColumnName</th>
                }
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.DataTable.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@item</td>
                    }
                    <td>
                        <a href="" class="btn btn-success"><i class="fa-solid fa-eye"></i></a>
                        <a href="@Url.Action("FormularioOrdenes", new { accion = "Actualizar", id_orden = row["id_orden"] })" class="btn btn-primary"><i class="fa-solid fa-user-pen"></i></a>
                        <a href="@Url.Action("EliminarOrden", new { id_orden = row["id_orden"] })" class="btn btn-danger"
                           onclick="return confirm('¿Está seguro de que desea eliminar esta orden?');"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron datos.</p>
}